<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'store' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item lines="none">
    <ion-label position="stacked">QuickCode</ion-label><br>
    <ion-input type="text" [(ngModel)]="quickCode" required></ion-input>
  </ion-item> -->
  <ion-item lines="none">
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="description" required></ion-textarea>
  </ion-item>
 
  <!-- <ion-item>
    <p>{{imageURI}}</p>
    <button ion-button color="secondary" (click)="getImage()">Get Image</button>
  </ion-item>
  <ion-item>
    <h4>Image Preview</h4>
    <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
  </ion-item>
  <ion-item>
    <button ion-button (click)="uploadFile()">Upload</button>
  </ion-item> -->
  <ion-item lines="none">
    <ion-label position="stacked">Image</ion-label><br>
<img [src]="url" width="150" height="150">
    <input type="file" (change)="selectfile($event)" [(ngModel)]="imageUrl" required>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Longitude</ion-label><br>
    <ion-input type="text" [(ngModel)]="longitude" required></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Latitude</ion-label><br>
    <ion-input type="text" [(ngModel)]="latitude" required></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Opening</ion-label><br>
    <ion-datetime [(ngModel)]="opening" displayFormat="HH:mm:ss" presentation="time"></ion-datetime>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Closing</ion-label><br>
    <ion-datetime [(ngModel)]="closing" displayFormat="HH:mm:ss" presentation="time"></ion-datetime>
  </ion-item>

<ion-item lines="none">
  <ion-label position="stacked">Delivery Charges</ion-label><br>
  <ion-select [(ngModel)]="selecteddeliveryCharges" value="brown" okText="Okay" cancelText="Dismiss">
    <ion-select-option value="">Select Delivery Charges</ion-select-option>
    <ion-select-option *ngFor="let item of deliveryCharges" [value]="item.key">
      {{item.value}}</ion-select-option>
  </ion-select>
</ion-item>
<div class="form" style="margin: 0%; padding: 0%;">
  <ion-row>
      <ion-col size="9">
          <ion-item class="mariginpadding" lines="none" style="padding: 2%; margin: 0%;">
              <ion-checkbox [(ngModel)]="onlyCodAvailable" style="margin: 9px 5px;">
              </ion-checkbox>
              <ion-label style="margin-left: 5px; font: size 10px !important ;">Only COD Available
              </ion-label>
          </ion-item>
      </ion-col>
      <ion-col size="3">
          
      </ion-col>
  </ion-row>
</div>
<!-- <ion-item lines="none">
  <ion-label position="stacked">Only COD Available</ion-label>
  <ion-checkbox checked [(ngModel)]="onlyCodAvailable" ></ion-checkbox>
</ion-item> -->
<ion-item lines="none">
  <ion-label position="stacked">Min Order Amount</ion-label><br>
  <ion-input type="tel" [(ngModel)]="minOrderAmount" required></ion-input>
</ion-item>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-button size="large" expand="full" class="btn" (click)="basic()">{{'continue' | translate}}</ion-button>
</ion-footer>