<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Account Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label position="fixed">Bank Account Number</ion-label><br>
    <ion-input maxlength="16" type="tel" required></ion-input>


    <ion-label position="fixed">Bank Name</ion-label><br>
    <ion-input maxlength="16" type="tel" required></ion-input>


    <ion-label position="fixed">IFSC code</ion-label><br>
    <ion-input type="text" required></ion-input>

    <ion-label position="fixed"> Account Type:</ion-label><br>
    <ion-list>
        <ion-radio-group value="type">

            <ion-radio slot="start" value="Saving Account"></ion-radio>
            <ion-label>Saving Account</ion-label>
            <br>
            <ion-radio slot="start" value="Current Account"></ion-radio>
            <ion-label>Current Account</ion-label>

        </ion-radio-group>
    </ion-list>

    <ion-label position="fixed">Account Holder Name</ion-label><br>
    <ion-input type="text" required></ion-input>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn" (click)="register()">{{'continue' | translate}}</ion-button>
</ion-footer>