<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">Mailing Address</ion-label><br>
    <ion-input [(ngModel)]="mailingAddress" type="text" required></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Email</ion-label><br>
    <ion-input [(ngModel)]="email" type="text" required></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Contact Number</ion-label><br>
    <ion-input [(ngModel)]="contactNumber" type="tel" maxlength="10" required></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Display Address</ion-label><br>
    <ion-input [(ngModel)]="displayAddress" type="text" required></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Landmark</ion-label><br>
    <ion-input [(ngModel)]="landmark" type="text" required></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button size="large" expand="full" class="btn" (click)="address()">{{'continue' | translate}}</ion-button>
</ion-footer>