<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  storeId: 0<br>
  <ion-label position=" fixed">Mailing Address</ion-label><br>
  <ion-input type="text" required></ion-input>
  <br>
  <ion-label position=" fixed">Email</ion-label><br>
  <ion-input type="text" required></ion-input>
  <br>
  <ion-label position=" fixed">Contact Number</ion-label><br>
  <ion-input type="text" required></ion-input>
  <br>
  <ion-label position=" fixed">Display Address</ion-label><br>
  <ion-input type="text" required></ion-input>
  <br>
  <ion-label position=" fixed">Landmark</ion-label><br>
  <ion-input type="text" required></ion-input>
  <br>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button size="large" expand="full" class="btn" (click)="register()">{{'continue' | translate}}</ion-button>
</ion-footer>