<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Business Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
        <ion-label position="stacked">Store Name</ion-label><br>
        <ion-input type="text" [(ngModel)]="storeName" required></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="stacked">State Name</ion-label><br>
        <ion-select [(ngModel)]="selectedState" value="brown" okText="Okay" cancelText="Dismiss"
            (ionChange)="stateChange()">
            <ion-select-option value="">Select State</ion-select-option>
            <ion-select-option *ngFor="let item of states" [value]="item.key">
                {{item.value}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="stacked">City Name</ion-label><br>
        <ion-select [(ngModel)]="selectedcity" value="brown" okText="Okay" cancelText="Dismiss"
            [disabled]="cityDisabled">
            <ion-select-option value="">Select City</ion-select-option>
            <ion-select-option *ngFor="let item of city" [value]="item.key">
                {{item.value}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="stacked" (click)="showpincodeModal()" >Pincode</ion-label><br>
        <!-- <ion-select [(ngModel)]="selectedpincode" value="brown" okText="Okay" cancelText="Dismiss"
            [disabled]="pincodeDisabled">
            <ion-select-option value="">Select Pincode</ion-select-option>
            <ion-select-option *ngFor="let item of pincode" [value]="item.key">
                {{item.value}}</ion-select-option>
        </ion-select> -->
    </ion-item>

    <ion-item lines="none">
        <ion-label position="stacked">Proprietor Name</ion-label><br>
        <ion-input type="text" [(ngModel)]="proprietorName" required></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-button position="stacked" (click)="showModal()">Select Services</ion-button>
        <!-- <ion-select [(ngModel)]="selectedService" multiple="true">
            <ion-select-option *ngFor="let item of service1" [value]="item.key">
            {{item.value}}</ion-select-option>
            </ion-select> -->
    </ion-item>

    <ion-item lines="none">
        <ion-card-content (click)="showModal()">{{services}} </ion-card-content>
    </ion-item>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn" (click)="create()">{{'continue' | translate}}</ion-button>
</ion-footer>