.sc-ion-input-md-h {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid rgb(225, 227, 234);
    border-radius: 8px;
    padding: 12px;
    height: 48px;
}
cdk-virtual-scroll-viewport{
    height: 100%;
    width: 100%;
}