<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Business Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label position=" fixed">Store Name</ion-label><br>
    <ion-input type="text" required></ion-input>


    <br>

    <ion-label position=" fixed">Proprietor Name</ion-label><br>
    <ion-input type="text" required></ion-input>

    <br>

    <ion-label>Select Services</ion-label>
    <ion-select [(ngModel)]="SelectBox" multiple="true">
        <ion-select-option value="6">Grocery & Essentials</ion-select-option>
        <ion-select-option value="1">Fruits & Vegetables</ion-select-option>
        <ion-select-option value="2">Food Delivery</ion-select-option>
        <ion-select-option value="4">Medicines</ion-select-option>
        <ion-select-option value="5">Paan Shop</ion-select-option>
        <ion-select-option value="6">Health & Wellness</ion-select-option>
        <ion-select-option value="6">Gifts & Lifestyle</ion-select-option>
        <ion-select-option value="6">Meat & Fish</ion-select-option>
    </ion-select>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn" (click)="register()">{{'continue' | translate}}</ion-button>
</ion-footer>