<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            View All register details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card>
            <ion-card-header>
                <span style="font-size: 150%;">Business Details</span>
            </ion-card-header>
            <ion-item *ngFor="let item of data">
                <ion-label>
                    <h4>{{item.storeId}}</h4>
                    <h4>{{item.storeName}}</h4>
                    <h4>{{item.cityId}}</h4>
                    <h4>{{item.pinCodeLookupId}}</h4>
                    <h4>{{item.proprietorName}}</h4>
                    <h4>{{item.serviceId}}</h4>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <span style="font-size: 150%;">Store Details</span>
            </ion-card-header>
            <ion-item *ngFor="let item of data">
                <ion-label>
                    <h4>{{item.quickCode}}</h4>
                    <h4>{{item.description}}</h4>
                    <h4>{{item.imageUrl}}</h4>
                    <h4>{{item.longitude}}</h4>
                    <h4>{{item.latitude}}</h4>
                    <h4>{{item.opening}}</h4>
                    <h4>{{item.closing}}</h4>
                    <h4>{{item.deliveryChargesCode}}</h4>
                    <h4>{{item.onlyCodAvailable}}</h4>
                    <h4>{{item.minOrderAmount}}</h4>
                </ion-label>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <span style="font-size: 150%;">Account Details</span>
            </ion-card-header>
            <ion-item *ngFor="let item of data">
                <ion-label>
                    <h4>{{item.bankAccountNumber}}</h4>
                    <h4>{{item.bankName}}</h4>
                    <h4>{{item.cityId}}</h4>
                    <h4>{{item.bankIfscCode}}</h4>
                    <h4>{{item.accoungHolderName}}</h4>
                    <h4>{{item.serviceId}}</h4>
                </ion-label>
            </ion-item>
        </ion-card>
    </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn" (click)="ListStore()">{{'continue' | translate}}</ion-button>
</ion-footer>